.header {
    padding: 20px;
    text-align: center;
    background: lightgrey;
    color: black;
    font-size: 30px;
}

.body {
    background: lightskyblue;
}

.video {
    margin-left: 500px;
}

.heading2 {
    margin-left: 500px;
    margin-right: 500px;
    height: 60px;
}

.paragraphMiddle {
    float: left;
    margin-left: 100px;
    font-size: 24px;
    width: 800px;
    word-wrap: word-break;
}

.paragraphLeft {
    text-align: left;
    margin-top:350px;
    margin-left: 200px;
    width: 600px;
    word-wrap: word-break;
    font-size: 20px;   
}

.mainParagraph {
    text-align: left;
    margin-left: 500px;
    width: 1000px;
    word-wrap: word-break;
    font-size: 20px;
}

.paragraphRight {
    text-align: left;
    margin-left: 1750px;
    margin-top: -200px;
    max-width: 600px;
    word-wrap: word-break;
    font-size: 20px;

}
.imageLeft {
    float: left;
    margin-left: 270px;
    
}

.imageRight {
    float: right;
    margin-right: 270px;
}

.navbar {
    overflow: hidden;
    background-color: #cce6f1;
}

.navbar a {
    float: left;
    font-size: 24px;
    color: rgba(13, 19, 173, 0.827);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;  
    border: none;
    outline: none;
    color: rgba(13, 19, 173, 0.827);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: beige;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Image Rules */ 
#imgFloatRight1 { float: right}